alembic
asyncpg
bcrypt
boto3
exa-py
fastapi
httpx
jsonschema
langchain-openai
motor
openai
passlib
pdfplumber
pydantic-settings

pydantic[email]
PyMuPDF
# psycopg2
python-jose
python-multipart
redis
sentry-sdk
SQLAlchemy
sqlalchemy-file
sqlalchemy_file
tiktoken
uvicorn
